.Form {
    display: flex;
    flex-direction: column;

    &Row {
        display: flex;
    }
    &Col {
        flex-direction: column;
    }
    &SpaceLarge {
        gap: 16px;
    }
    &SpaceMedium {
        gap: 8px;
    }
    &SpaceSmall {
        gap: 4px;
    }
}
